{% extends 'base.html'%}
{% block container %}
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">ABOUT US</h1>
			<hr>
			<div align="center">
				<div class="col-8" align="text-center">
					<p class="lead">This project is the final semester Major Project work for the three of us hailing from St Xavier's College , Kolkata. 
					</br>
					Our collective github repository is : "Insert link here"
				</br></br></p>
			</div>
		</div>
	</div>
</div>
</div>
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-5">PROJECT GUIDE</h1>

			<div class="card text-white bg-dark mb-3 ml-1 mt-5 mr-5 border-light " style="width: 65rem;" align="left">
				<div class="row no-gutters">
					<div class="col-md-2">
						<img src="bg.jpg" class="card-img mb-1 ml-1 mt-1 mr-1" class="" alt="...">
					</div>
					<div class="col-md-10">
						<h5 class="card-header">PROF. KAUSHIK GOSWAMI</h5>
						<div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-5">PROJECT PARTICIPANTS</h1>
			<hr>
			<div align="right">
				<div class="card text-white bg-dark mb-3 ml-1 mt-5 mr-2 border-light " style="width: 65rem;" align="left">
					<div class="row no-gutters">
						<div class="col-md-2">
							<img src="bg.jpg" class="card-img mb-1 ml-1 mt-1 mr-1" class="" alt="...">
						</div>
						<div class="col-md-10">

							<h5 class="card-header">SOUMYANKAR MOHAPATRA</h5>
							<div class="card-body">
								<p><strong>EMAIL : </strong>soumyankarm@gmail.com</p>
								<p><strong>GITHUB REPO : </strong> https://github.com/soumyankar</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card text-white bg-dark mb-3 ml-1 mt-5 mr-5 border-light " style="width: 65rem;" align="left">
				<div class="row no-gutters">
					<div class="col-md-2">
						<img src="bg.jpg" class="card-img mb-1 ml-1 mt-1 mr-1" class="" alt="...">
					</div>
					<div class="col-md-10">

						<h5 class="card-header">TIRTHANKAR DUTTA</h5>
						<div class="card-body">
							<p><strong>EMAIL : </strong>97samrat@gmail.com</p>
							<p><strong>GITHUB REPO : </strong> https://github.com/samrat9724</p>
						</div>
					</div>
				</div>
			</div>
			<div align="right">
				<div class="card text-white bg-dark mb-3 ml-1 mt-5 mr-2 border-light " style="width: 65rem;" align="left">
					<div class="row no-gutters">
						<div class="col-md-2">
							<img src="bg.jpg" class="card-img mb-1 ml-1 mt-1 mr-1" class="" alt="...">
						</div>
						<div class="col-md-10">

							<h5 class="card-header">ANIK MITRA</h5>
							<div class="card-body">
								<p><strong>EMAIL : </strong> anikmitra2015@gmail.com</p>
								<p><strong>GITHUB REPO : </strong> https://github.com/blehbluh</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}