<!DOCTYPE html>
<html>
<head>
	<title>Debugging</title>
	<style type="text/css">
		td {
			border: 1px solid #000;
		}

		tr td:last-child {
			width: 1%;
			white-space: nowrap;
		}
	</style>
</head>
<body>
	<h1>Debugging Info</h1>
	<br>
	<p>URL Validity? <span name="urlValidity">{{ urlValidity }}</span></p>
	
	<!-- Article Title -->
	<h4>Article Title</h4>
	<p id="articleTitle">{{ articleTitle }}</p>
	<br>
	
	<!-- Article Content -->
	<h4>Scraped Article Content</h4>
	<p id="articleContent">{{ articleContent }}</p>

	<!-- Categories for the article content -->
	{% if articleCategories|length < 1%}
	<p>That's weird? No categories rendered!</p>
	{% else %}
	<h4>Categories</h4>
	<table>
		<tr>
			<th>Category Name</th>
			<th>Confidence Factor</th>
		</tr>
		{% for category in articleCategories %}
		<tr>
			<td>{{category.name}}</td>
			<td>{{category.confidence}}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}

	<!-- Sentiment Scores -->
	{% if sentimentScore is not defined%}
	<p>No sentiment score or magnitude to show.</p>
	{% else %}
	<h4>Sentiment Scores</h4>
	<p>Sentiment Score = {{ sentimentScore.score }}</p>
	<p>Sentiment Magnitude = {{ sentimentScore.magnitude }}</p>
	{% endif %}

	<!-- Keywords for the article -->
	{% if articleKeywords|length < 1 %}
	<p>That's weird? No article keywords to show :(</p>
	{% else %}
	<h4>Keywords</h4>
	<table style="width: 100%">
		<tr>
			<th></th>
			<th>Rank</th>
			<th>Count</th>
			<th>Text</th>
		</tr>
		{% for id,key in articleKeywords.items()%}
		<tr>
			<td>{{id}}</td>
			<td>{{key.rank}}</td>
			<td>{{key.count}}</td>
			<td>{{key.text}}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}

	<!-- Entities for the article -->
	{% if articleEntities|length < 1%}
	<p>Didnt find any entities for this text.</p>
	{% else %}
	<h4>Entities</h4>
	<table style="width: 100%">
		<tr>
			<th></th>
			<th>Entity</th>
			<th>Label</th>
			<th>Label Description</th>
		</tr>
		{% for id,key in articleEntities.items() %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ key.text}}</td>
			<td>{{ key.label }}</td>
			<td>{{ key.description }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</body>
</html>