{% extends 'base.html' %}

{% block search %}
<div class="Search">
   <label for="search">Input a news headline</label></br>
   <form method="POST">
     <input type="text" name="searchQuery" id="searchQuery" placeholder="Search..">
     <input type="submit" value="GO">
   </form>
 </div>
{% endblock%}


{% block attributes%}
<div class ="All_dropdowns">
  <div class="dropdown">
    <span> > ARTICLE ATTRIBUTES</span>
    <div class="dropdown-content">
      <p>//additional information</p>
    </div>
  </div>
{% endblock %}

{% block classification %}
<div class="dropdown">
  <span> > CLASSIFICATION</span>
  <div class="dropdown-content">
    <p>//additional information</p>
  </div>
</div>
{% endblock %}

{% block information %}
<div class="dropdown">
  <span> > OTHER INFORMATION</span>
  <div class="dropdown-content">
    <p>//additional information</p>
  </div>
</div>
</br>
</br>
{% endblock %}